<!-- store/templates/store/cart.html -->
{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Your Cart</h2>
    {% if cart %}
        <ul>
            {% for product_id, item in cart.items %}
                <li>
                    <img src="{{ item.image_url }}" alt="{{ item.name }}" style="width: 150px; height: auto;">
                    {{ item.name }} - ${{ item.price }} x {{ item.quantity }}
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'products:products' %}" class="btn btn-primary">Proceed to Checkout</a>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>
{% endblock %}
