{% extends "store/base.html" %}
{% block content %}

<div class="container text-center my-5">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto position-relative">
            <img src="{{ MEDIA_URL }} media/virgoMockup.jpg" class="img-fluid rounded-corners" alt="Poster">
            <div class="text-background-container">
                <h2 class="my-4">Remind yourself<br> who you are.</h2>
                <a href="{% url 'product_list' %}" class="btn btn-outline-dark">Shop now</a>
            </div>
        </div>
    </div>
</div>

    <h2>Collection</h2>
    {% include 'store/product_list.html' %}
{% endblock %}