{% extends "base.html" %}
{% block content %}

<div class="container text-center my-5">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto position-relative">
            <img src="{{ MEDIA_URL }} media/virgoMockup.jpg" class="img-fluid rounded-corners" alt="Poster">
            <div class="text-background-container">
                <h2 class="my-4 text-left font-weight-light">Remind yourself<br> who you are.</h2>
                <a href="{% url 'products:product_list' %}" class="btn btn-outline-dark">Shop now</a>
            </div>
        </div>
    </div>
</div>

<div class="collection my-5">
    <h2 class="my-3 text-left font-weight-light">Collection</h2>
    <div class="row">
        {% block product %}
        <div class="product-list">
            {% for product in products %}
                <div class="product-item">
                    <h3>{{ product.name }}</h3>
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                    <p>{{ product.description }}</p>
                    <p>{{ product.review }}</p>
                    <p>Price: ${{ product.price }}</p>
                    <a href="{% url 'products:product_detail' product.id %}" class="btn btn-primary">View Details</a>
                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-success">Add to cart</a>
                </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}