{% extends "base.html" %}
{% block content %}

<div class="container text-center my-5">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto position-relative">
            <img src="{{ MEDIA_URL }}virgoMockup.jpg" class="img-fluid rounded-corners" alt="Poster">
            <div class="text-background-container">
                <h2 class="my-4 text-left font-weight-light">Remind yourself<br> who you are.</h2>
                <a href="{% url 'products:product_list' %}" class="btn btn-outline-dark">Shop now</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="collection my-5">
        <h2 class="my-3 text-left font-weight-light">Collection</h2>
        <div class="d-flex align-items-center">
            <div class="arrow" id="prev-arrow">&lt;</div>
            <div class="row w-100 overflow-hidden">
                <div class="product-listhome d-flex">
                    {% for product in products %}
                        <div class="product-itemhome">
                            <h3>{{ product.name }}</h3>
                            <img src="{{ product.image_url }}" alt="{{ product.name }}" class="img-fluid">
                            <p>{{ product.description }}</p>
                            <p>{{ product.review }}</p>
                            <p>Price: ${{ product.price }}</p>
                            <a href="{% url 'products:product_detail' product.id %}" class="btn btn-primary">View Details</a>
                            <a href="{% url 'cart:add_to_cart' product.id %}" class="btn btn-success">Add to cart</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="arrow" id="next-arrow">&gt;</div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let currentIndex = 0;
        const itemsPerPage = 3;
        const productList = document.querySelector('.product-list');
        const products = document.querySelectorAll('.product-item');
        const totalPages = Math.ceil(products.length / itemsPerPage);

        document.getElementById('next-arrow').addEventListener('click', function() {
            if (currentIndex < totalPages - 1) {
                currentIndex++;
                productList.style.transform = `translateX(-${currentIndex * 100}%)`;
            }
        });

        document.getElementById('prev-arrow').addEventListener('click', function() {
            if (currentIndex > 0) {
                currentIndex--;
                productList.style.transform = `translateX(-${currentIndex * 100}%)`;
            }
        });
    });
</script>
{% endblock %}