.navbar-brand {
    font-size: 2rem; /* Adjust this value to make the text larger */
}
.navbar-nav {
    margin-top: 10px;
}
.navbar-container {
    text-align: center;
}


/* Gör hörnen på bilden rundade */
.rounded-corners {
    border-radius: 15px; /* Justera radien efter behov */
}

/* text with background in home.html */
.text-background-container {
    position: absolute;
    top: 20%; /* Justera positionen så att den ligger överlappande som du vill */
    right: 90%;
    width: 50%; /* Hälften av bredden på virgoMockup.jpg */
    height: 60%;
    background-image: url('/media/gradientBackground.svg');; /* Ange rätt sökväg till bakgrundsbilden */
    background-size: cover; /* Se till att bakgrundsbilden täcker hela containern */
    background-position: center;
    padding: 20px; /* Justera padding efter behov */
    border-radius: 10px; /* Valfri radie för rundade hörn på containern */
}

/* Texten i h2 kommer att ärva bakgrundsbilden från föräldern */
.text-background-container h2 {
    font-size: 30px;
    color: rgb(71, 71, 76); /* Justera textfärgen för kontrast */
    margin: 40px;
}

/* Style for Collection h2 in home.html */

.collection {
    margin-left: 20px; /* Flytta sektionen inåt från vänster */
    margin-right: 20px; /* Flytta sektionen inåt från höger */
    padding: 0 20px; /* Lägg till padding för att skapa utrymme inom sektionen */
}

/* Alternativt för en central justering, använd 'container' eller 'container-fluid' klasser från Bootstrap */
.container {
    max-width: 1140px; /* Standard Bootstrap max bredd */
    margin: 0 auto; /* Centrera container */
}

/* Ytterligare styling om så önskas */
.collection h2 {
    margin-bottom: 30px; /* Extra utrymme under rubriken */
    padding-left: 15px; /* Inskjutning för rubriken */
    color: rgb(71, 71, 76); 
}

/* style for product_list.html */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: calc(33.333% - 20px); /* Tre produkter per rad med 20px mellanrum */
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 1rem;
    color: #555;
}

.product-item .btn {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
}

.product-item .btn-primary {
    background-color: #007bff;
    border: none;
}

.product-item .btn-success {
    background-color: #28a745;
    border: none;
}

@media (max-width: 888px) {
    .text-background-container {
        position: static; /* Gör positioneringen statisk */
        height: 40%;
        width: 100%; /* Full bredd för att fylla containern */
        margin-top: 20px; /* Lägger till ett mellanrum ovanför texten */
    }

    .text-background-container h2 {
        text-align: center; /* Centrerar texten */
        padding-top: 50px;
    }
}